// Colors
$off-black: #20222b;
$off-white:  #e7e0e0;
$light-violet: #c27adf;
$dark-blue: #343b61;
$blue: #3c4251;
$light-blue: #13446b;
$purple: #a325d4;

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45em;